In [8]:
import json
import pandas as pd
import numpy as np
import re

In [11]:
master_df = pd.read_csv('../../data/nutrient/compiled/nutrition_master_df.csv')

with open('../../data/recipe/recipe_all.json') as f:
    data = json.load(f)

In [15]:
ID = 'RECIPE_24915'

print(data[ID]['name'])
print('\n')
itr = 0
for i in data[ID]['ingredients']:
    print(itr, i)
    itr +=1

print('\n')
print(data[ID]['servings'])

Zucchini and Rosemary Soup


0 2 tablespoons (1/4 stick) butter
1 1 tablespoon vegetable oil
2 1 large onion chopped
3 2 garlic cloves sliced
4 2 teaspoons minced fresh rosemary
5 6 cups chicken stock or canned low-salt broth
6 1 russet potato peeled sliced
7 3 medium zucchini thinly sliced
8 1 zucchini cut into 1/2-inch cubes
9 Croutons
10 Chopped green onions


""

In [16]:
a=master_df[(master_df['Description'].str.contains('gruyere')) &
          (master_df['Description'].str.contains('gruyere'))][['Description', "NDB_NO"]]

a

          Description   NDB_NO
2615  cheese, gruyere  "01023"

In [17]:
for i in a['Description']:
    print(i)

cheese, gruyere