In [1]:
import json
import pandas as pd
import numpy as np
import re

In [2]:
master_df = pd.read_csv('../../data/nutrient/compiled/nutrition_master_df.csv')
anna_df = pd.read_csv('/root/w210_capstone/data/recipe/anna_help.csv')


with open('../../data/recipe/recipe_all.json') as f:
    data = json.load(f)

In [3]:
ID = 'RECIPE_17991'

print(data[ID]['name'])
print('\n')
itr = 0
for i in data[ID]['ingredients']:
    print(itr, i)
    itr +=1

print('\n')
print(data[ID]['servings'])

Pork Tostadas with Corn Salsa


0 2 pounds boneless pork shoulder cut into 2-inch pieces
1 2 yellow or white onions
2 3 tablespoons distilled white vinegar
3 2 garlic cloves minced
4 3 tablespoons vegetable oil plus additional for frying the tortillas
5 3 ears of corn
6 2 tomatoes chopped fine
7 1/2 cup finely chopped red onion
8 1 to 2 fresh jalape√±o chilies including the seeds or to taste minced (wear rubber gloves)
9 1/2 cup loosely packed fresh coriander chopped fine
10 4 tablespoons fresh lime juice
11 2 avocados (preferably California)
12 eight 7-inch corn tortillas


""

In [43]:
b=master_df[(master_df['Description'].str.contains('')) &
          (master_df['Description'].str.contains('stock'))][['Description', "NDB_NO"]]

b

                                            Description   NDB_NO
6278  soup, mushroom with beef stock, canned, condensed  "06044"
6279  soup, mushroom with beef stock, canned, prepar...  "06444"
6298                   soup, stock, beef, home-prepared  "06170"
6299                soup, stock, chicken, home-prepared  "06172"
6300                   soup, stock, fish, home-prepared  "06174"

In [35]:
for i in b['Description']:
    print(i)

In [13]:
master_df[master_df['NDB_NO'] == '"18041"'][['Description']].get_values()[0][0]

'bread, pita, white, enriched'

In [14]:
master_df[master_df['NDB_NO'] == '"15015"'][['Description', 'Protein (g)']]

                   Description  Protein (g)
3399  fish, cod, atlantic, raw          NaN